defmodule <%= repo %>.Migrations.<%= module_name %>Constraints do
  use Ecto.Migration

  def change do
    <%= for constraint <- constraints do %>
    create <%= constraint %>
    <% end %>
  end
end
