defmodule <%= repo %>.Migrations.Extension.<%= module_name %> do
  use Ecto.Migration

  def up do
    execute(
    """
    <%= Regex.replace(~r/^/m, sql, "    ") %>
    """)
  end

  def down do
    execute("DROP EXTENSION IF EXISTS <%= name %>")
  end
end
