defmodule <%= repo %>.Migrations.Schema.<%= module_name %> do
  use Ecto.Migration

  def up do
    execute("CREATE SCHEMA IF NOT EXISTS <%= schema %>")
  end

  def down do
    execute("DROP SCHEMA IF EXISTS <%= schema %>")
  end
end
