defmodule <%= repo %>.Migrations.Sequence.<%= module_name %> do
  use Ecto.Migration

  def up do
    execute(
    """
    <%= Regex.replace(~r/^/m, sql, "    ") %>
    """)
  end

  def down do
    execute("DROP SEQUENCE IF EXISTS <%= schema %>.<%= name %>")
  end
end
