defmodule <%= repo %>.Migrations.<%= module_name %> do
  use Ecto.Migration

  def change do
    create table(<%= table_opts %>) do
    <%= for column <- columns do %>
      <%= column %>
    <% end %>
    end
  end
end
<%= if not Enum.empty?(constraints) do %>
defmodule <%= repo %>.Migrations.<%= module_name %>Constraints do
  use Ecto.Migration

  def change do
    <%= for constraint <- constraints do %>
    create <%= constraint %>
    <% end %>
  end
end
<% end %>
